body{
	
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(233,255,253,1.00) 34.11%,rgba(139,255,248,1.00) 67.03%,rgba(0,255,240,1.00) 100%,rgba(0,255,240,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(233,255,253,1.00) 34.11%,rgba(139,255,248,1.00) 67.03%,rgba(0,255,240,1.00) 100%,rgba(0,255,240,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(233,255,253,1.00) 34.11%,rgba(139,255,248,1.00) 67.03%,rgba(0,255,240,1.00) 100%,rgba(0,255,240,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(233,255,253,1.00) 34.11%,rgba(139,255,248,1.00) 67.03%,rgba(0,255,240,1.00) 100%,rgba(0,255,240,1.00) 100%);
	background-repeat: no-repeat;
    
}

#container {
      height: 80vh;
      width: 100%;
      overflow: hidden;
    }
#title{
    width:100%;
    height: 10%;
}
#map {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.55);
    float: left
    }
#inspector{
    width: 35%;
    height:100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.55);
    background-color: whitesmoke;
    float: right;
    position: relative;
    z-index: 2;
    opacity: 0.8;
}
#title{
    background-color:transparent;
	text-transform: uppercase;
    margin-top: 1%;
	font-size:3vw;
	text-align: center;
    color:whitesmoke;
    z-index: 1;
    position: absolute;
	
}
.button {
    background-color: whitesmoke; /* Green */
    border: none;
    color: black;
    opacity: 0.8;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}
.button:hover{
    background-color: black;
    color: white;
    opacity: 0.5;
}
#miniinspector{
    background-color: transparent;
    width: 10%;
    z-index: 1;
    position: fixed;
    top:300px;
}
#boro{
    margin-left: 1%;
}
#inspectior2{
    margin-left: 1%;
    
}
#complainselection {
    cursor: pointer;
    shape-rendering: crispEdges;
    fill: url(#MyGradient);
    margin: 5%;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
#mainc{
    
    height: 80%;
}

#analyticsc{
    margin-left: 2%;
    border: dotted red 1px;
    height: 70%;
    width: 100%;
    display: none;
}
#settingsc{
    margin-left: 2%;
    border: dotted red 1px;
    height: 70%;
    width: 100%;
    display: none;
}
#contactc{
    margin-left: 2%;
    height: 70%;
    width: 100%;
    display: none;
}
#layeroptions{
 margin-top: 2%;   
}
#dropdownchoice{
    margin-top: 2%;
    width: 100%;
    height: 10%
}
#dropdown1{
    width: 30%;
    float: left;
}

#dropdown2{
    width: 30%;
    float: left;
    display:none
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

#footer{
    height: 20%;
    width=100%
    border = solid black 1px;
}
#letstalkfield{
    width: 30%;
    
}

